---
import { BadgeEuro, Contact, Instagram } from 'lucide-astro'

const year = new Date().getFullYear()

export interface Props {
	links?: Array<{href: string, target?: string, display: string}>
	socials?: Array<{href: string, target?: string, icon: any}>
}
---

<footer class="w-full flex flex-col justify-center items-center py-16">
	<div class="bg-white w-10/12 h-1 rounded-3xl"></div>
	<div class="w-11/12 flex justify-between gap-8 text-white items-center py-8 pr-0 flex-col lg:flex-row">
		<a href="/" rel="noopener noreferrer"><img src="/images/logo.svg" alt="TTP"></a>
		<a href="mailto:contact@trouve-ta-piece.com" rel="noopener noreferrer"><p class="flex gap-3"><Contact />contact@trouve-ta-piece.com</p></a>
		<a href="/mentions-legales" rel="noopener noreferrer">Mentions légales</a>
		<a href="https://paypal.me/trouvetapiece" target="_blank" title="paypal" class="flex gap-2" rel="noopener noreferrer"><BadgeEuro />Faire une donnation</a>
		<div class="gap-3 flex">
			<a href=""><Instagram /></a>
		</div>
	</div>
	<p class="font-light text-center text-white mt-4">© {year}&nbsp;TTP. Tout droits réservé.</p>
</footer>
