---
import { BadgeEuro, Contact, Instagram } from 'lucide-astro'

const year = new Date().getFullYear()

export interface Props {
	links?: Array<{href: string, target?: string, display: string}>
	socials?: Array<{href: string, target?: string, icon: any}>
}
---

<footer class="w-full flex flex-col justify-center items-center py-16">
	<div class="bg-white w-10/12 h-1 rounded-3xl"></div>
	<div class="w-11/12 flex justify-between gap-8 text-white items-center py-8 pr-0 flex-col lg:flex-row">
		<a href="/" rel="noopener noreferrer" class="w-52" ><img src="/images/logo2.svg" alt="TTP"></a>
		<p class="flex gap-3"><Contact />contact@trouve-ta-piece.com</p>
		<div class="flex flex-col text-center lg:text-start">
			<a href="/mentions-legales" rel="noopener noreferrer">Mentions légales</a>
			<a href="/cgv" rel="noopener noreferrer">Condition générale de vente</a>
		</div>
		<a href="https://paypal.me/trouvetapiece" target="_blank" title="paypal" class="flex gap-2" rel="noopener noreferrer"><BadgeEuro />Faire une donnation</a>
		<div class="gap-3 flex">
			<a href="https://www.instagram.com/lievre_bklf/" target="_blank"><Instagram /></a>
		</div>
	</div>
	<p class="font-light text-center text-white mt-4">© {year}&nbsp;TTP. Tout droits réservé.</p>
</footer>
