---
import { Facebook, House } from 'lucide-astro'

const year = new Date().getFullYear()

export interface Props {
	links?: Array<{href: string, target?: string, display: string}>
	socials?: Array<{href: string, target?: string, icon: any}>
}
---

<footer class="w-full flex flex-col justify-center items-center py-16">
	<div class="bg-white w-10/12 h-1 rounded-3xl"></div>
	<div class="w-11/12 flex justify-between gap-8 text-white items-center py-8 pr-0 flex-col lg:flex-row">
		<img src="/src/assets/images/logo.svg">
		<p class="flex gap-3"><House />3 Rue fellonneau,<br> 44000 Nantes</p>
		<p>Mentiens légales</p>
		<div class="gap-3 flex"><Facebook /><Facebook /><Facebook /></div>
	</div>
	<p class="font-light text-center text-white mt-4">© {year}&nbsp;<a href="https://www.dzeio.com">TTP</a>. Tout droits réservé.</p>
</footer>
