---
import Picture from 'astro/components/Picture.astro'
import {Bike, Gauge, HardHat, House, Paintbrush, Trophy, Wrench} from 'lucide-astro'
import logo from 'assets/images/logo.svg'


export interface Props {
	right?: Record<string, string>
	left?: Record<string, string>
}
---

<header class="p-8 z-20 absolute w-full">
	<nav class="items-center">
		<div class="hidden justify-between w-11/12 fixed lg:flex">
			<a href="/">
				<Picture src={logo} alt=""></Picture>
			</a>
			<div class="bg-white rounded-full items-center h-fit justify-center shadow-lg flex">
				<a class="pl-4 pr-0 mx-2 text-orange-600 gap-3 flex" href="/allDays"><Gauge />ALLDAYS</a>
				<a class="border-l-2 border-orange-300 pl-4 mx-2 pr-0 text-orange-600 gap-3 flex" href="/"><Trophy />Compétitions</a>
				<a class="border-l-2 border-orange-300 pl-4 mx-2 pr-0 text-orange-600 gap-3 flex" href="/"><Paintbrush />Esthetique</a>
				<a class="border-l-2 border-orange-300 pl-4 mx-2 pr-0 text-orange-600 gap-3 flex" href="/"><Bike />Cycle</a>
				<a class="border-l-2 border-orange-300 pl-4 mx-2 pr-0 text-orange-600 gap-3 flex" href="/"><HardHat />Equipement</a>
				<a class="border-l-2 border-orange-300 pl-4 mx-2 pr-0 text-orange-600 gap-3 flex" href="/"><Wrench />Produit / Outillage</a>
				<a class="rounded-full bg-amber-600 flex py-3 px-6 gap-3 text-white shadow-2xl hover:bg-black" href="/">Accueil <House /></a>
			</div>
		</div>
		<div class="flex justify-between lg:hidden gap-6">
			<a href="/">
				<Picture src={logo} alt=""></Picture>
			</a>
			<div class="flex flex-col items-center bg-white rounded-full justify-center mobile">
				<a class="mx-4 py-3 bg-amber-600 text-white flex rounded-t-full w-full justify-center cursor-pointer" href="/"  title="Accueil"><House /></a>
				<a class="mx-2 text-orange-600 flex pt-4 cursor-pointer" href="/allDays" title="ALLDAYS"><Gauge /></a>
				<a class="mx-2 pr-0 text-orange-600 flex pt-4 cursor-pointer" href="/lautre" title="Compétitions"><Trophy /></a>
				<a class="mx-2 pr-0 text-orange-600 flex pt-4 cursor-pointer" href="/" title="Esthetique"><Paintbrush /></a>
				<a class="mx-2 pr-0 text-orange-600 flex pt-4 cursor-pointer" href="/" title="Cycle"><Bike /></a>
				<a class="mx-2 pr-0 text-orange-600 flex pt-4 cursor-pointer" href="/" title="Equipement"><HardHat /></a>
				<a class="mx-2 pr-0 text-orange-600 flex pt-4 cursor-pointer pb-2" href="/" title="Produit / Outillage"><Wrench /></a>
			</div>
		</div>
	</nav>
</header>
