---
import { House } from 'lucide-astro'


export interface Props {
	right?: Record<string, string>
	left?: Record<string, string>
}
---

<header class="p-8 z-20 fixed w-full">
	<nav class="flex justify-between items-center">
		<a href="/">
			<img src="src/assets/images/logo.svg">
		</a>
		<div class="bg-white rounded-full items-center h-fit justify-center shadow-lg  hidden lg:flex">
			<a class="pl-4 pr-0 mx-2 text-orange-600" href="/">ALLDAYS</a>
			<a class="border-l-2 border-orange-300 pl-4 mx-2 pr-0 text-orange-600" href="/">Grosse Config</a>
			<a class="border-l-2 border-orange-300 pl-4 mx-2 pr-0 text-orange-600" href="/">Esthetique</a>
			<a class="border-l-2 border-orange-300 pl-4 mx-2 pr-0 text-orange-600" href="/">Cycle</a>
			<a class="border-l-2 border-orange-300 pl-4 mx-2 pr-0 text-orange-600" href="/">Equipement</a>
			<a class="border-l-2 border-orange-300 pl-4 mx-2 pr-0 text-orange-600" href="/">Produit / Outillage</a>
			<a class="rounded-full bg-amber-600 flex py-3 px-6 gap-3 text-white shadow-2xl acc" href="/">Accueil <House /></a>
		</div>
	</nav>
</header>
