---
import MainLayout from 'layouts/MainLayout.astro'
import TemplateConfig from 'components/global/TemplateConfig.astro';
---

<MainLayout title="Trouve ta pièce ALLDAYS" class="overflow-x-hidden">
	<main class="flex justify-center items-center">
        <TemplateConfig 
            imageSrc="/src/assets/images/cylindre2fast.png"
            title="Kit cylindre 2Fast"
            enderTitle="Configuration compétition"
            description="Très bonne configuration, peu de couple mais enormément de régime très performant dans ça catégorie. Un entretien très régulier et minutieux est nécessaire. lemoteur doit obligatoirement être préparé, nous vous recommandons WRP Racing."
            price="2000"
            piece1="cylindre 100 2fast"
            piece2="vilo 2fast"
            piece3="allumage pvl bidalot"
            piece4="vilo"
        />
    </main>
</MainLayout>
