---
import MainLayout from 'layouts/MainLayout.astro'
import TemplateConfig from 'components/global/TemplateConfig.astro';
---

<MainLayout title="Trouve ta pièce ALLDAYS" class="overflow-x-hidden">
    <main class="flex justify-center items-center">
        <TemplateConfig 
            imageSrc={"/src/assets/images/cylindre2fast.png"}
            imageSrc1={"/src/assets/images/moi.jpg"}
            imageSrc2={""}
            title="Kit cylindre 2Fast"
            enderTitle="Configuration compétition"
            description="Très bonne configuration, peu de couple mais énormément de régime très performant dans sa catégorie. Un entretien très régulier et minutieux est nécessaire. Le moteur doit obligatoirement être préparé, nous vous recommandons WRP Racing."
            price="2000"
            pieces={[
                "Cylindre 100 2Fast",
                "Vilebrequin 2Fast",
                "Allumage PVL Bidalot",
                "Vilebrequin",
            ]}
        />
    </main>
</MainLayout>

