---
import MainLayout from 'layouts/MainLayout.astro';
---

<MainLayout title="Trouve ta pièce" class="overflow-x-hidden">
    <main class="pt-64 lg:pt-44 w-11/12 mx-auto mb-8">
        <p class="text-2xl font-bold">Conditions Générales de Vente</p>
        <p class="text-xl mt-2">Les présentes Conditions Générales de Vente (CGV) sont conclues entre :</p>
        <ul class="list-disc ml-6 mt-2">
            <li><strong>Trouve ta pièce</strong>, dont le siège est situé à 3 rue fellonneau, immatriculée au RCS de Nantes sous le numéro [Numéro d’immatriculation], ci-après dénommée « le Vendeur ».</li>
            <li>Toute personne physique ou morale, ci-après dénommée « le Client », procédant à l'achat de produits ou à la consultation du site internet Trouve ta pièce (ci-après « le Site »).
        </ul>

        <p class="text-xl font-bold mt-2">1. Objet</p>
        <div class="flex gap-1 mt-2">
            <p>Les présentes CGV visent à définir les modalités de vente des produits proposés sur le Site, ainsi que les droits et obligations des parties dans le cadre de la vente en ligne. Elles s'appliquent à toutes les commandes passées via le Site.</p>
        </div>
        <p class="text-xl font-bold mt-2">2. Produits et services</p>
        <div class="flex gap-1 mt-2 flex-wrap">
            <p>Le Vendeur propose à la vente un produit unique : <p class="font-bold">Un nettoyant pour les pots d'échappement,</p>ainsi que des services de référencement et d'affiliation pour des pièces de moto. Les descriptions, caractéristiques et prix des produits sont disponibles sur le Site et sont susceptibles de modification sans préavis.</p>
        </div>
        <p class="text-xl font-bold mt-2">3. Commandes</p>
        <div class="flex gap-1 mt-2">
            <p>Toute commande passée via le Site implique l’acceptation sans réserve des présentes CGV. Le Client s’engage à fournir des informations exactes lors de la commande. Le Vendeur se réserve le droit d’annuler ou de refuser toute commande en cas de litige existant avec le Client, de problème de paiement ou de suspicion de fraude.</p>
        </div>
        <p class="text-xl font-bold mt-2">4. Prix et paiement</p>
        <div class="flex gap-1 mt-2">
            <p>Les prix des produits sont indiqués en euros, toutes taxes comprises (TTC). Le paiement s'effectue en ligne par carte bancaire ou tout autre moyen de paiement sécurisé proposé sur le Site.
                <br>
                Le Vendeur se réserve le droit de modifier ses prix à tout moment, mais les produits seront facturés au prix en vigueur lors de la validation de la commande par le Client.</p>
        </div>
        <p class="text-xl font-bold mt-2">5. Disponibilité</p>
        <div class="flex gap-1 mt-2">
            <p>Les produits sont proposés dans la limite des stocks disponibles. En cas d’indisponibilité d’un produit après validation de la commande, le Vendeur informera le Client dans les meilleurs délais et lui proposera soit un remboursement, soit un échange.</p>
        </div>
        <p class="text-xl font-bold mt-2">6. Livraison</p>
        <div class="flex gap-1 mt-2">
            <p>Les livraisons sont effectuées à l'adresse indiquée par le Client lors de la commande. Les frais et délais de livraison sont précisés lors de la commande. <br>
                Le Vendeur ne saurait être tenu pour responsable des retards ou des erreurs de livraison dus à une adresse incorrecte ou incomplète fournie par le Client.</p>
        </div>
        <p class="text-xl font-bold mt-2">7. Droit de rétractation</p>
        <div class="flex gap-1 mt-2">
            <p>Conformément à la législation en vigueur, le Client dispose d’un délai de 14 jours calendaires à compter de la réception du produit pour exercer son droit de rétractation, sans avoir à justifier de motifs ni à payer de pénalités.
                <br>
                Les produits doivent être retournés dans leur état d’origine et complets (accessoires, notices…) et dans leur emballage d’origine, accompagnés de la facture d’achat. Les frais de retour sont à la charge du Client.</p>
        </div>
        <p class="text-xl font-bold mt-2">8. Garanties</p>
        <div class="flex gap-1 mt-2">
            <p>Les produits vendus sur le Site bénéficient de la garantie légale de conformité et de la garantie contre les vices cachés, conformément aux dispositions légales en vigueur.
                <br>
                Le Vendeur ne saurait être tenu responsable des dommages indirects qui pourraient survenir à l’occasion de l’achat des produits.</p>
        </div>
        <p class="text-xl font-bold mt-2">9. Responsabilité</p>
        <div class="flex gap-1 mt-2">
            <p>Le Vendeur décline toute responsabilité en cas d'inexécution du contrat due à un cas de force majeure, tel que défini par la jurisprudence française.
                <br>
                Le Vendeur ne peut être tenu responsable des dommages résultant de la mauvaise utilisation du produit acheté par le Client.</p>
        </div>
        <p class="text-xl font-bold mt-2">10. Affiliation et référencement</p>
        <div class="flex gap-1 mt-2">
            <p>Le Site contient des liens d’affiliation vers des sites tiers proposant des pièces de moto. Le Vendeur ne saurait être tenu responsable du contenu ou des produits proposés par ces sites tiers. Les transactions effectuées sur ces sites sont soumises aux conditions générales de vente desdits sites.</p>
        </div>
        <p class="text-xl font-bold mt-2">11. Données personnelles</p>
        <div class="flex gap-1 mt-2">
            <p>Les informations recueillies lors des commandes sont nécessaires pour la gestion des transactions. Elles sont traitées conformément à notre politique de confidentialité disponible sur le Site.
                <br>
                Le Client dispose d’un droit d’accès, de rectification et de suppression des données personnelles le concernant en contactant le service client à l’adresse sav@trouve-ta-piece.fr.</p>
        </div>
        <p class="text-xl font-bold mt-2">12. Propriété intellectuelle</p>
        <div class="flex gap-1 mt-2">
            <p>Tous les éléments du Site (textes, images, logos, etc.) sont la propriété exclusive du Vendeur ou de ses partenaires et sont protégés par les lois relatives à la propriété intellectuelle. Toute reproduction totale ou partielle est strictement interdite.</p>
        </div>
        <p class="text-xl font-bold mt-2">13. Loi applicable et litiges</p>
        <div class="flex gap-1 mt-2">
            <p>Les présentes CGV sont soumises à la loi française. En cas de litige, les parties s'engagent à rechercher une solution amiable avant de saisir les tribunaux compétents.</p>
        </div>
        <p class="text-xl font-bold mt-2">14. Contact</p>
        <div class="flex gap-1 mt-2">
            <p>Pour toute question ou réclamation, le Client peut contacter le service client à l’adresse suivante : contact@trouve-ta-piece.fr.</p>
        </div>        
    </main>
</MainLayout>