---
import MainLayout from 'layouts/MainLayout.astro'
import { Bike, Eye } from 'lucide-astro'
---

<MainLayout title="Dzeio - Website Template" class="overflow-x-hidden">
	<main>
		<div class="w-screen absolute imagetete h-screen"></div>
		<div class="z-10 relative w-3/6 text flex flex-col justify-end pl-8 text-white">
			<p class="font-semibold text-4xl">
				Bienvenue sur le site dédié aux passionnés de moto !
			</p>
			<p class="text-lg pl-2">
				Découvrez une vaste collection de pièces, allant des classiques aux plus rares, soigneusement répertoriées pour répondre à tous vos besoins.<br/><br/>
				Notre plateforme vous propose une gamme variée de tarifs, garantissant des options pour chaque budget. <br/><br/>
				En plus de vous offrir un accès facile à ces trésors mécaniques, je partage également mes conseils d'expert pour vous guider dans vos choix.<br/><br/>
				Plongez dans l'univers de la moto et parcourez notre sélection pour transformer votre expérience de conduite.
			</p>
		</div>
		<div class="flex justify-center gap-3 mt-40">
			<div class="bg-white flex flex-col justify-center items-center w-96 p-6 rounded-3xl shadow-2xl card">
				<div class="flex justify-between items-center w-full">
					<p class="font-bold text-3xl">Kit cylindre 2Fast</p>
					<Bike />
				</div>
				<div class="w-full">
					<p class="text-gray-400">Grosse config</p>
				</div>
				<div class="cards rounded-full w-60 h-60 flex items-center justify-center mt-6">
					<img class="max-w-96" src="/src/assets/images/cylindre2fast.png" alt="">
				</div>
				<div class="flex justify-between items-center w-full mt-4">
					<p class="font-bold text-3xl">2000€</p>
					<Eye class="bg-amber-600 p-2 w-10 h-10 rounded-2xl text-white"/>
				</div>
			</div>
			<div class="bg-white flex flex-col justify-center items-center w-96 p-6 rounded-3xl shadow-2xl card">
				<div class="flex justify-between items-center w-full">
					<p class="font-bold text-3xl">Kit cylindre 2Fast</p>
					<Bike />
				</div>
				<div class="w-full">
					<p class="text-gray-400">Grosse config</p>
				</div>
				<div class="cards rounded-full w-60 h-60 flex items-center justify-center mt-6">
					<img class="max-w-96" src="/src/assets/images/cylindre2fast.png" alt="">
				</div>
				<div class="flex justify-between items-center w-full mt-4">
					<p class="font-bold text-3xl">2000€</p>
					<Eye class="bg-amber-600 p-2 w-10 h-10 rounded-2xl text-white"/>
				</div>
			</div>
			<div class="bg-white flex flex-col justify-center items-center w-96 p-6 rounded-3xl shadow-2xl card">
				<div class="flex justify-between items-center w-full">
					<p class="font-bold text-3xl">Kit cylindre 2Fast</p>
					<Bike />
				</div>
				<div class="w-full">
					<p class="text-gray-400">Grosse config</p>
				</div>
				<div class="cards rounded-full w-60 h-60 flex items-center justify-center mt-6">
					<img class="max-w-96" src="/src/assets/images/cylindre2fast.png" alt="">
				</div>
				<div class="flex justify-between items-center w-full mt-4">
					<p class="font-bold text-3xl">2000€</p>
					<Eye class="bg-amber-600 p-2 w-10 h-10 rounded-2xl text-white"/>
				</div>
			</div>
		</div>
	</main>
</MainLayout>
