---
import MainLayout from 'layouts/MainLayout.astro';
---

<MainLayout title="Trouve ta pièce" class="overflow-x-hidden">
    <main class="pt-64 lg:pt-44 w-11/12 mx-auto mb-8">
        <p class="text-2xl font-bold">Mentions Légales</p>
        <p class="text-xl font-bold mt-2">1. Éditeur du site</p>
        <div class="flex gap-1 mt-2">
            <p>Le site <p class="font-bold">Trouve ta pièce</p> est édité par :</p>
        </div>
        <ul class="list-disc ml-6 mt-2">
            <li><strong>Nom de l’entreprise ou Nom du particulier :</strong> [Nom ou raison sociale]</li>
            <li><strong>Statut juridique :</strong> [Exemple : Auto-entrepreneur, SARL, SAS...]</li>
            <li><strong>Adresse du siège social : </strong>[Adresse complète de l’entreprise ou du particulier]</li>
            <li><strong>Numéro de SIRET/SIREN :</strong> [Numéro]</li>
            <li><strong>Responsable de la publication :</strong> [Nom du responsable]</li>
            <li><strong>Email de contact : </strong>[adresse email]</li>
            <li><strong>Téléphone : </strong>[Numéro de téléphone]</li>
        </ul>
        <p class="text-xl font-bold mt-2">2. Hébergement du site</p>
        <div class="flex gap-1 mt-2">
            <p>Le site <p class="font-bold">Trouve ta pièce</p> est hébergé par :</p>
        </div>
        <ul class="list-disc ml-6 mt-2">
            <li><strong>Nom de l'hébergeur :</strong> [Nom ou raison sociale]</li>
            <li><strong>Adresse :</strong>[Exemple : Auto-entrepreneur, SARL, SAS...]</li>
            <li><strong>Téléphone : </strong>[Numéro de téléphone]</li>
        </ul>
        <p class="text-xl font-bold mt-2">3. Activité du site</p>
        <div class="flex gap-1 mt-2">
            <p>Le site <p class="font-bold">Trouve ta pièce</p>a pour activité :</p>
        </div>
        <ul class="list-disc ml-6 mt-2">
            <li><strong>Référencement de pièces de moto et d'artisans :</strong>Le site propose un comparatif et une présentation des pièces de moto disponibles chez différents fournisseurs ainsi que des artisans, avec des liens affiliés.</li>
            <li><strong>Affiliation :</strong>Le site perçoit une commission sur les ventes réalisées via les liens d’affiliation présents sur les pages de produits.</li>
            <li><strong>Vente de produits :</strong>À l'avenir, le site pourra proposer la vente d'un produit spécifique lié à la moto, dont les détails seront publiés ultérieurement.</li>
        </ul>
        <p class="text-xl font-bold mt-2">4. Propriété intellectuelle</p>
        <p>Tous les contenus présents sur le site Trouve ta pièce (textes, images, logos, vidéos, etc.) sont protégés par les lois en vigueur sur la propriété intellectuelle. Sauf mention contraire, ils sont la propriété exclusive de l'éditeur. Toute reproduction, distribution, modification, ou utilisation de ces contenus sans autorisation expresse est interdite.</p>
        <p class="text-xl font-bold mt-2">5. Protection des données personnelles</p>
        <p>Le site Trouve ta pièce ne collecte aucune donnée personnelle. Aucune donnée n'est enregistrée, traitée ou partagée à des tiers via le site.</p>
        <p class="text-xl font-bold mt-2">6. Cookies</p>
        <p>Le site Trouve ta pièce n'utilise aucun cookie ou autre dispositif de suivi des utilisateurs. Aucune donnée concernant la navigation n'est stockée ou analysée.</p>
        <p class="text-xl font-bold mt-2">7. Responsabilité</p>
        <p>L'éditeur s'efforce de fournir des informations exactes et mises à jour sur le site Trouve ta pièce. Toutefois, il ne saurait être tenu responsable des erreurs, des omissions ou des résultats obtenus suite à l’utilisation de ces informations.
            <br />
            Les liens affiliés présents sur le site redirigent vers des sites tiers. L'éditeur décline toute responsabilité quant au contenu ou aux transactions effectuées sur ces sites.
        </p>
        <p class="text-xl font-bold mt-2"> 8. Litiges</p>
        <p>Les présentes mentions légales sont soumises au droit français. En cas de litige, les tribunaux compétents seront ceux de [ville où se trouve le siège social].</p>
    </main>
</MainLayout>