---
import MainLayout from 'layouts/MainLayout.astro'
---

<MainLayout title="Dzeio - Website Template">
    <main class="h-screen flex justify-center items-center">
        <div class="bg-white rounded-3xl w-9/12 flex">
            <div class="w-1/2 flex justify-center">
                <img src="/src/assets/images/cylindre2fast.png">
            </div>
            <div>
                <p class="font-bold text-4xl">Kit cylindre</p>
            </div>
        </div>
    </main>
</MainLayout>