.imagetete{
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) -15%, rgba(92, 92, 91, 0) 100%),
    url('/images/top.jpg') center/cover no-repeat;
}
body{
    background: #f5f5f5;
	-webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.gradient{
    background: linear-gradient(90deg,#000000 0%, #fdd763 40%, #000000 100%);
	margin-top: 9.9vh;
}
.gradient-config{
	background: linear-gradient(90deg,#000000 0%, #fdd763 40%, #000000 100%);
}
footer{
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) -50%, rgba(92, 92, 91, 0) 300%),
    url('/images/bg.svg') bottom/cover no-repeat;
}
@media (min-width: 320px) {
	.slide-track {
		overflow-y: auto;
		display: flex;
		height: 32rem;
	}
}
details summary::-webkit-details-marker {
	display: none;
}

details summary::-moz-list-bullet {
	display: none;
}
details[open] .cheSum{
	transition: transform 0.3s ease;
    transform: rotate(180deg);
}
.bg{
	background: linear-gradient(90deg, rgba(255,219,102,1) 0%, rgba(204,112,19,1) 100%);
}
.categorie{
	background: rgba(249,115,22 , 0.08);
}
