---
import Head, { type Props as HeadProps } from './Head.astro'
import 'assets/styles/style.scss'

export interface Props extends HeadProps {
	class?: string
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<Head {...Astro.props} />
		<slot name="head" />
	</head>
	<body class:list={["", Astro.props.class]}>
		<slot />
	</body>
</html>
