---
import CardsCate from 'components/global/CardsCate.astro';
import MainLayout from 'layouts/MainLayout.astro';
import { MoveUp } from 'lucide-astro';
---

<MainLayout title="Trouve ta pièce | Produit - Outillage" class="overflow-x-hidden">
  <main class="pt-44">
    <div id="top" class="bg-white rounded-t-3xl w-11/12 flex justify-center mx-auto items-center flex-col mt-20 lg:mt-0">
      <div class="flex items-center gap-4 p-8 flex-col lg:flex-row">
        <img src="/images/bg.svg" class="w-full lg:w-[50rem] rounded-2xl">
        <p>
          Découvrez notre gamme d’accessoires racing pensée pour les passionnés de performance et les pilotes exigeants. Que vous cherchiez à optimiser chaque détail de votre moto ou à améliorer vos sensations sur la piste, notre sélection répond à vos besoins. Des pièces légères et résistantes aux équipements spécifiques pour la compétition, tout est conçu pour repousser les limites et maximiser votre expérience de conduite. Explorez notre collection et faites confiance à notre expertise pour préparer votre moto comme un véritable bolide de course.
        </p>
      </div>
      <div class="gradient-config w-full h-2 rounded-b-3xl"></div>
    </div>
    <div class="flex justify-center my-8 gap-4 flex-wrap">
        <CardsCate
            imageSrc = "/images/nettoyage.jpg"
            alt = "Manchon gros diamètre"
            title = "Manchon gros diamètre"
            entreprise = "Conçu pour les gros carburateurs, respecte votre boîte à air."
            lien = "/categorie/produit-outillage/nettoyage"
        />
        <CardsCate
            imageSrc = "/images/entretien.jpg"
            alt = "Boîte à air gros volume"
            title = "Boîte à air gros volume"
            entreprise = "Respirez mieux, libérez la performance."
            lien = "/categorie/produit-outillage/entretien"
        />
        <CardsCate
            imageSrc = "/images/prepa.jpg"
            alt = "Préparateur moteur"
            title = "Préparateur moteur"
            entreprise = "L’art de booster votre moteur."
            lien = "/categorie/produit-outillage/precision"
        />
    </div>
    <div class="flex justify-center my-8 gap-4 flex-wrap">
        <CardsCate
            imageSrc = "/images/mecanique.jpg"
            alt = "TTP Parts"
            title = "Accessoires Moto"
            entreprise = "Chaque détail compte, chaque accessoire aussi."
            lien = "/categorie/produit-outillage/meca"
        />
        <CardsCate
            imageSrc = "/images/prepa.jpg"
            alt = "TTP Electronics"
            title = "Électronique racing"
            entreprise = "Chaque milliseconde compte, chaque détail aussi."
            lien = "/categorie/produit-outillage/prepa"
        />
		<CardsCate
            imageSrc = "/images/prepa.jpg"
            alt = "Les petits plus du motard"
            title = "Les petits plus du motard"
            entreprise = "Tous les petits accessoires qui font une grande différence, pour vous et votre moto."
            lien = "/categorie/produit-outillage/prepa"
        />
    </div>

    <a id="fleche" class="bg-orange-500 z-30 fixed right-14 p-4 bottom-8 rounded-full w-16 h-16 m-0 hidden items-center" href="#top" rel="noopener noreferrer">
      <MoveUp class="h-10 w-10 text-white" />
    </a>
  </main>
</MainLayout>
<script src="/src/pages/js/category.js.ts"></script>
