---
import CardsCate from 'components/global/CardsCate.astro';
import MainLayout from 'layouts/MainLayout.astro';
import { MoveUp } from 'lucide-astro';
---

<MainLayout title="Trouve ta pièce | Equipement" class="overflow-x-hidden">
  <main class="pt-44">
    <div id="top" class="bg-white rounded-t-3xl w-11/12 flex justify-center mx-auto items-center flex-col mt-20 lg:mt-0">
      <div class="flex items-center gap-4 p-8 flex-col lg:flex-row">
        <img src="/images/bg.svg" class="w-full lg:w-[50rem] rounded-2xl">
        <p>
          Découvrez notre sélection d'équipements soigneusement choisis pour répondre à tous les besoins des conducteurs et pilotes de moto. Que vous recherchiez des casques de sécurité, des vestes résistantes aux intempéries, des gants confortables, ou d'autres accessoires essentiels pour une conduite sécuritaire et confortable, notre gamme de produits a été minutieusement sélectionnée pour vous offrir qualité et style. Que vous soyez un débutant cherchant le bon équipement ou un pilote expérimenté en quête de mises à jour, explorez notre collection et trouvez l'équipement parfait pour vous accompagner sur la route avec confiance et style.
        </p>
      </div>
      <div class="gradient-config w-full h-2 rounded-b-3xl"></div>
    </div>
    <div class="flex justify-center my-8 gap-4 flex-wrap">
        <CardsCate
            imageSrc = "/images/casque.jpg"
            alt = "casque"
            title = "Casque"
            entreprise = "Votre meilleur allié sur la route."
            lien = "/categorie/equipement/casque"
        />
        <CardsCate
            imageSrc = "/images/gant.jpg"
            alt = "Gants"
            title = "Gants"
            entreprise = "Vos mains, votre meilleur atout."
            lien = "/categorie/equipement/gants"
        />
        <CardsCate
            imageSrc = "/images/tenu.jpg"
            alt = "tenu de cross"
            title = "Tenu de motocross"
            entreprise = "Tenues conçues pour les passionnés de tout-terrain."
            lien = "/categorie/equipement/tenu"
        />
    </div>
    <div class="flex justify-center my-8 gap-4 flex-wrap">
        <CardsCate
            imageSrc = "/images/blouson.jpg"
            alt = "blouson en cuire"
            title = "Blouson"
            entreprise = "Roulez en sécurité, roulez avec classe."
            lien = "/categorie/equipement/blouson"
        />
        <CardsCate
            imageSrc = "/images/combi.png"
            alt = "Combinaison en cuire"
            title = "Combinaison"
            entreprise = "Votre seconde peau pour la piste et la route."
            lien = "/categorie/equipement/combi"
        />
        <CardsCate
            imageSrc = "/images/bottes.webp"
            alt = "Bottes de moto"
            title = "Bottes"
            entreprise = "Protection et style à chaque pas."
            lien = "/categorie/equipement/bottes"
        />
    </div>

    <a id="fleche" class="bg-orange-500 z-30 fixed right-14 p-4 bottom-8 rounded-full w-16 h-16 m-0 hidden items-center" href="#top" rel="noopener noreferrer">
      <MoveUp class="h-10 w-10 text-white" />
    </a>
  </main>
</MainLayout>
<script src="/src/pages/js/category.js.ts"></script>
