---
import CardsCate from 'components/global/CardsCate.astro';
import MainLayout from 'layouts/MainLayout.astro';
import { MoveUp } from 'lucide-astro';
---

<MainLayout title="Trouve ta pièce | Garage" class="overflow-x-hidden">
  <main class="pt-44">
    <div id="top" class="bg-white rounded-t-3xl w-11/12 flex justify-center mx-auto items-center flex-col mt-20 lg:mt-0">
      <div class="flex items-center gap-4 p-8 flex-col lg:flex-row">
        <img src="/images/charlie.jpg" class="w-full lg:w-[50rem] rounded-2xl">
        <p>
          Découvrez notre gamme complète de produits de nettoyage et d'outils de qualité pour les amateurs de moto méticuleux et les mécaniciens passionnés. Que vous cherchiez à entretenir votre moto comme un professionnel ou à effectuer des réparations avec précision, notre sélection de produits répondra à vos besoins. Des nettoyants spécialement conçus pour garder votre moto étincelante aux outils essentiels pour chaque tâche mécanique, nous avons tout ce qu'il faut pour maintenir votre machine en parfait état. Explorez notre collection et faites confiance à notre expertise pour prendre soin de votre moto comme elle le mérite.
        </p>
      </div>
      <div class="gradient-config w-full h-2 rounded-b-3xl"></div>
    </div>
    <div class="flex justify-center my-8 gap-4 flex-wrap">
        <CardsCate
            imageSrc = "/images/nettoyage.jpg"
            alt = "nettoyants"
            title = "Nettoyage"
            entreprise = "Nettoyage facile, résultats impeccables."
            lien = "/categorie/produit-outillage/nettoyage"
        />
        <CardsCate
            imageSrc = "/images/entretien.jpg"
            alt = "entretien"
            title = "Entretien"
            entreprise = "Performance et longévité grâce à un entretien optimal."
            lien = "/categorie/produit-outillage/entretien"
        />
        <CardsCate
            imageSrc = "/images/precision.webp"
            alt = "outil de précision"
            title = "Outil de précision"
            entreprise = "Outils conçus pour les mains exigeantes."
            lien = "/categorie/produit-outillage/precision"
        />
    </div>
    <div class="flex justify-center my-8 gap-4 flex-wrap pb-7">
        <CardsCate
            imageSrc = "/images/mecanique.jpg"
            alt = "mecanique"
            title = "Outil de mécanique"
            entreprise = "Des outils qui durent et facilitent chaque réparation."
            lien = "/categorie/produit-outillage/meca"
        />
        <CardsCate
            imageSrc = "/images/prepa.jpg"
            alt = "préparation"
            title = "Outil de préparation"
            entreprise = "La préparation parfaite commence ici."
            lien = "/categorie/produit-outillage/prepa"
        />
        <CardsCate
            imageSrc = "/images/astuce.avif"
            alt = "nettoyants"
            title = "Astuce"
            entreprise = "Petits trucs, grands résultats."
            lien = "/categorie/astuce"
        />
    </div>

    <a id="fleche" class="bg-orange-500 z-30 fixed right-14 p-4 bottom-8 rounded-full w-16 h-16 m-0 hidden items-center" href="#top" rel="noopener noreferrer">
      <MoveUp class="h-10 w-10 text-white" />
    </a>
  </main>
</MainLayout>
<script src="/src/pages/js/category.js.ts"></script>
